@tailwind base;


@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('../assets/Monaco.woff') format('woff');
}

body {
  font-family: 'Monaco', sans-serif;
}

@tailwind components;
@tailwind utilities;
