.container-custom {
  width: 100%;
  max-width: 900px;
}

.main-container {
  background-color: #fce4d8;
}

.bg-black2 {
  background-color: #d15010;
  border-color: #d15010;
  color: #fce4d8;
}

.bg-2 {
  border-color: #d15010;
  color: #d15010;
}

.text-rojito {
  text-decoration: underline;
}

.text-blanquito {
  color: #fce4d8;
}

.yeet {
  margin-bottom: 5%;
}
